[Desktop Entry]
Comment[en_US]=
Comment=
Exec=python3 /home/vinicius/Documents/CODING/Magnus/engager.py
GenericName[en_US]=
GenericName=
Icon= /home/vinicius/Documents/CODING/Magnus/icon.png
MimeType=text/x-python3;
Name[en_US]=Engager
Name=Engager
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
